<h2>Comercios</h2>

<form name="ComercioForm">

  <input type="text" ng-model="comercio.nombre"/> <br/>
  <input type="text" ng-model="comercio.categoria"/> <br/>
  <input type="text" ng-model="comercio.direccion"/> <br/>
  <input type="text" ng-model="comercio.telefono"/> <br/>
  <input type="text" ng-model="comercio.email"/> <br/>
  <textarea cols="30" rows="10" ng-model="comercio.descripcion"></textarea> <br/>
  <textarea cols="30" rows="10" ng-mode="comercio.promocion"></textarea> <br/>
  <input type="file" file-input="files" multiple/> <br/>

</form>
