<div class="w-section secslider2" id="inicio">
  <div class="w-slider slider2" data-animation="slide" data-duration="500" data-infinite="1" data-delay="4000" data-autoplay="1">
    <div class="w-slider-mask">
      <div class="w-slide slide21"></div>
      <div class="w-slide slide22"></div>
      <div class="w-slide slide23"></div>
      <div class="w-slide slide24"></div>
    </div>
    <div class="w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="w-slider-nav w-round"></div>
  </div>
</div>
<div class="w-section secslider">
  <div class="w-slider slider" data-animation="slide" data-duration="500" data-infinite="1" data-delay="4000" data-autoplay="1">
    <div class="w-slider-mask">
      <div class="w-slide slide1"></div>
      <div class="w-slide slide2"></div>
      <div class="w-slide slide3"></div>
      <div class="w-slide slide4"></div>
      <div class="w-slide slide5"></div>
    </div>
    <div class="w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="w-slider-nav w-shadow"></div>
  </div>
</div>
<div class="incluyetodo">
  <div class="w-section w-clearfix outer">
    <div class="wrapper">
     <div class="divpubli" data-ix="publis" ng-repeat="comercio in comercios" ui-sref="app.comercio({comercioId: comercio.id})">
        <a class="w-inline-block linkpubli">
          <div class="divlabel">
            <div class="textpubli">{{comercio.nombre}}</div>
            <div class="textpubli descripcion">{{ comercio.descripcion}}</div>
          </div>
          <img class="imgpubli" src="storage/images/{{comercio.imagenComercio}}">
          <div class="w-clearfix divlabeldown">
            <div class="textpubli down">{{ comercio.direccion | words: 3 }}</div>
            <div class="textpubli descripcion down">{{ comercio.telefono}}</div>
          </div>
        </a>
      </div>

    </div>
    <div class="inner">
      <div class="divpublisidebar"><img class="b" src="images/papelera.jpg">
      </div>
      <div class="divpublisidebar"><img class="b" src="images/papelera.jpg">
      </div>
      <div class="divpublisidebar"><img class="b" src="images/papelera.jpg">
      </div>
      <div class="divpublisidebar"><img class="b" src="images/papelera.jpg">
      </div>
      <div class="divpublisidebar"><img class="b" src="images/papelera.jpg">
      </div>
    </div>
  </div>
</div>
