<div style="padding: 20px;">

  <h2 style="text-align: center;">{{ message }}</h2>

  <center>

    <div class="fb-page" data-href="https://www.facebook.com/pages/GUIA-Comercial-VGG/1562651330688380?fref=ts" style="padding: 20px;" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/facebook">
          <a href="https://www.facebook.com/facebook">Facebook</a>
        </blockquote>
      </div>
    </div>

  </center>

  <button style="padding: 20px; columns: black; font-size: 20px; margin: 0 auto; display: block" ng-click="seguir()">Continuar a La Guía...</button>

</div>
