<div class="w-container" style="padding: 20px;">

  <h2>Administración Comercios</h2>

  <form name="ComercioForm">

    <div class="form-group" style="padding: 15px;">

      <input type="text" class="form-control focus margin" placeholder="Nombre" ng-model="comercio.nombre"/> <br/>
      <input type="text" id="rubros" class="form-control focus margin" name="rubro" list="rubro"
             placeholder="Seleccione rubro" autocomplete="off" required> <br/>
      <datalist id="rubro">
        <option ng-repeat="r in rubros" value="{{r.nombre}}" id="{{r.id}}">
      </datalist>
      <input type="text" class="form-control focus margin" placeholder="Dirección" ng-model="comercio.direccion"/> <br/>
      <input type="text" class="form-control focus margin" placeholder="Télefono" ng-model="comercio.telefono"/> <br/>
      <input type="text" class="form-control focus margin" placeholder="Email" ng-model="comercio.email"/> <br/>
      <textarea cols="30" class="form-control focus margin"  placeholder="Descripción" rows="10" ng-model="comercio.descripcion"></textarea> <br/>
      <textarea cols="30" class="form-control focus margin"  placeholder="Promoción" rows="10" ng-model="comercio.promocion"></textarea> <br/>
      Portada<input type="file" file-input="file" /> <br/>
      Slider<input type="file" files-input="files" multiple/> <br/>

    </div>

    <button class="btn btn-default" style="width: 100%; background: darkgrey;" ng-click="agregarComercio()">Agregar</button>

  </form>

</div>
