<div class="w-section secpublis" style="margin-top: 170px;">
  <div class="w-container">

    <div class="w-row">
      <div class="w-col colpublis">
        <div class="w-row">

          <div class="divpubli" data-ix="publis" ng-repeat="comercio in resultados" ui-sref="app.comercio({comercioId: comercio.id})">
            <a class="w-inline-block linkpubli">
              <div class="divlabel">
                <div class="textpubli">{{comercio.nombre}}</div>
                <div class="textpubli descripcion">{{ comercio.descripcion}}</div>
              </div>
              <img class="imgpubli" src="storage/images/{{comercio.imagenComercio}}">
              <div class="w-clearfix divlabeldown">
                <div class="textpubli down">{{ comercio.direccion | words: 3 }}</div>
                <div class="textpubli descripcion down">{{ comercio.telefono}}</div>
              </div>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
