<div class="w-section secinfo">
  <h1>{{ comercio.nombre }}</h1>
  <h3>{{ rubro.nombre }}</h3>
  <div class="w-container">
    <div class="w-slider sliderdatos" data-animation="slide" data-duration="500" data-infinite="1" data-delay="4000" data-autoplay="1">
      <div class="w-slider-mask maskdatos">

        <div class="w-slide" ng-repeat="img in comercio.imagenes track by $index">

          <img src="storage/images/{{ img }}" width="100%" alt=""/>

        </div>

      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>

    <div style="margin: 50px;">
      <p compile="{{ comercio.descripcion }}"></p>
    </div>

    <div class="w-row rowdatos" style="padding: 30px;">
      <div class="w-col w-col-6">
        <div class="direccionmasinfo"> Direccion: {{ comercio.direccion }}</div>
        <div class="telmasinfo"> Horarios: {{ comercio.horarios }}</div>
        <div class="telmasinfo"> Teléfono: {{ comercio.telefono }}</div>
      </div>
      <div class="w-col w-col-6">
        <div class="telmasinfo">Email: {{ comercio.email }}</a></div>
        <div class="telmasinfo">Sitio Web: {{ comercio.pagina }}</div>
      </div>
    </div>

    <div style="margin:50px;">

      <p compile="{{ comercio.promocion }}"></p>

    </div>


    <div class="w-row">
      <div class="w-col w-col-6">
        <mapa dir="{{ comercio.direccion }}"></mapa>
      </div>
      <div class="w-col w-col-6 webmasinfo">
        <div class="w-form">
          <form class="form" id="email-form" name="email-form" data-name="Email Form">
            <div class="envienos">Envíenos su consulta y a la brevedad le responderemos.</div>
            <input class="w-input" id="name" type="text" placeholder="Nombre" name="name" data-name="Name" ng-model="visitante.nombre">
            <input class="w-input" id="email" type="email" placeholder="Email" name="email" data-name="Email" required="required" ng-model="visitante.email">
            <textarea class="w-input" id="field" placeholder="Consulta" name="field" ng-model="visitante.query"></textarea>

          </form>

          <button ng-click="enviarEmail()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
