<div class="w-section secinfo">
  <h1>{{ comercio.nombre }}</h1>
  <h3>{{ comercio.rubro }}</h3>
  <div class="w-container">
    <div class="w-slider sliderdatos" data-animation="slide" data-duration="500" data-infinite="1" data-delay="4000" data-autoplay="1">
      <div class="w-slider-mask maskdatos">

        <div class="w-slide" ng-repeat="img in comercio.imgs track by $index">

          <img src="storage/images/{{ img }}" alt=""/>

        </div>

      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
    <p compile="{{ comercio.descripcion }}"></p>
    <div class="w-row rowdatos">
      <div class="w-col w-col-6">
        <div class="direccionmasinfo">Direccion: {{ comercio.direccion }}</div>
        <div class="telmasinfo">Horarios: {{ comercio.horarios }}</div>
        <div class="telmasinfo">Teléfono: {{ comercio.telefono }}</div>
      </div>
      <div class="w-col w-col-6">
        <a class="webmasinfo" href="#">{{ comercio.email }}</a>
        <a class="webmasinfo" href="#">{{ comercio.pagina }}</a>
      </div>
    </div>
    <p compile="{{ comercio.promocion }}"></p>
    <div class="w-row">
      <div class="w-col w-col-6">
        <mapa dir="{{ comercio.direccionMapa }}"></mapa>
      </div>
      <div class="w-col w-col-6 webmasinfo">
        <div class="w-form">
          <form class="form" id="email-form" name="email-form" data-name="Email Form">
            <div class="envienos">Envíenos su consulta y a la brevedad le responderemos.</div>
            <input class="w-input" id="name" type="text" placeholder="Nombre" name="name" data-name="Name">
            <input class="w-input" id="email" type="email" placeholder="Email" name="email" data-name="Email" required="required">
            <textarea class="w-input" id="field" placeholder="Consulta" name="field"></textarea>
            <input class="w-button botonenviar" type="submit" value="Enviar" data-wait="Please wait...">
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
